<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UridaUser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
				<key>dateExpires</key>
				<string>05/08/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>12.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D98B154A1AE7AD3E0416ED363F220C6DDF9F225D</string>
						<key>dateExpires</key>
						<string>05/08/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2NN5AT2VND</string>
						<key>name</key>
						<string>Hamza Hasan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2NN5AT2VND.rs.app.UridaUser</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>2NN5AT2VND</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>UridaUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7c3e3644-2bfb-4d5d-834b-5295a0c33a88</string>
				<key>dateExpires</key>
				<string>05/01/2023</string>
				<key>name</key>
				<string>Provisioning Development Uridauser</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2NN5AT2VND</string>
				<key>name</key>
				<string>Hamza Hasan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
